<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<div class="panel panel-default">
    <div class="panel-body">
        <form action="/adminpuzzles/update/{{puzzle.id}}" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-4">
                    <div class="well">
                        <div class="checkbox">
                            <label class="h4"><input type="checkbox" name="in_collection" {{#if puzzle.in_collection}}checked{{/if}}> <strong>In My Collection</strong></label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" name="is_complete" {{#if puzzle.is_complete}}checked{{/if}}> <strong>Puzzle is Complete</strong></label>
                        </div>
                        <hr>
                        <label>How Acquired</label>
                        <input type="text" name="how_acquired" class="form-control" value="{{puzzle.how_acquired}}" placeholder="Thrift Store, eBay, etc.">
                    </div>
                </div>

                <div class="col-md-8 border-left">
                    <h4>Image Assets</h4>
                    <div class="row">
                        <div class="col-sm-4 text-center">
                            <label>Box Front</label>
                            <div class="thumbnail">
                                <img src="{{s3Base}}{{puzzle.image_box_front}}.png" onerror="this.src='/images/placeholder.png'">
                                <input type="file" name="image_box_front" class="btn btn-xs">
                            </div>
                        </div>
                        <div class="col-sm-4 text-center">
                            <label>Box Back</label>
                            <div class="thumbnail">
                                <img src="{{s3Base}}{{puzzle.image_box_back}}.png" onerror="this.src='/images/placeholder.png'">
                                <input type="file" name="image_box_back" class="btn btn-xs">
                            </div>
                        </div>
                        <div class="col-sm-4 text-center">
                            <label>Completed</label>
                            <div class="thumbnail">
                                <img src="{{s3Base}}{{puzzle.image_complete}}.png" onerror="this.src='/images/placeholder.png'">
                                <input type="file" name="image_complete" class="btn btn-xs">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="form-group mt-4">
                <label>Archive Notes</label>
                <textarea name="notes" class="form-control" rows="5">{{puzzle.notes}}</textarea>
            </div>

            <button type="submit" class="btn btn-success btn-lg">Save Archive Record</button>
        </form>
    </div>
</div>