<div class="col-sm-12 col-md-8">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>What's happening...</h3>
            </div>
            <div class="panel-body">
                <div class='row'>
                    <div class="col-sm-12">
                        <p>
                            A place for me to keep my thoughts about various topics of interest (to me).
                        </p>
                    </div>
                </div>
            </div>    
        </div>
    </div>

    {{#each dynamicData}}

        <div class="row">
            <div class="col-sm-12 blogcontainer">
                <div class="blogHeadline">
                    <a href="/blogpost?id={{this.id}}">
                        {{{decodeSummernote this.headline}}}
                    </a>
                </div>
                <div class="blogauthor">
                    {{this.author}}<br/>
                </div>
                <div class="blogdate">
                    {{formatdate this.createdAt}}<br/>
                </div>
                <div class="row blogdetails">
                    <div class="blogimagemaincontainer col-sm-6">
                        <img class="blogimagemain" src="{{this.blogimage}}">
                    </div>
                    <div class="blogtext col-sm-6">
                        <p>
                            {{{limittext this.blogtext}}} <span class="keep_reading"><a href="/blogpost?id={{this.id}}">keep reading</a></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    {{/each}}

</div>