<section class="main">
  <div class='row'>
    <div class="col-sm-12 col-md-8">
      {{!-- Blog Post --}}
      <div class="row">
          <div class="panel panel-default">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-sm-9">
                    <h3>{{{decodeSummernote dynamicData.headline}}}</h3>
                  </div>
                  <div class="col-sm-3">
                    <div class="row">
                      <div class="col-sm-12 blogauthor">
                          {{dynamicData.author}}<br/>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12 blogdate">
                          {{formatdate dynamicData.createdAt}}<br/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="blogimagecontainer col-sm-12">
                  <img class="blogimage" src="{{dynamicData.blogimage}}">
              </div>
              <div class="panel-body">
                  <div class='row'>
                      <div class="col-sm-12">
                          <p>
                              {{{decodeSummernote dynamicData.blogtext}}}
                          </p>
                      </div>
                  </div>
              </div>    
          </div>
      </div>
      {{!-- Comment Section --}}
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
              <h3>Comments</h3>
          </div>
          <div class="panel-body">
            {{!-- Display previous comments --}}
            {{#if dynamicData.Comments}}
              {{#each dynamicData.Comments}}
                <div class='row commentrow'>
                  <div class="col-sm-3 commentUser">
                    {{this.commentauthor}}
                    <Br/>                    
                    {{formatdate this.createdAt}}
                  </div>
                  
                  <div class="col-sm-9">
                    <div class='row'>
                      <div class="col-sm-12 commentheadline">
                        {{{this.commentheadline}}}
                      </div>
                    </div>
                    <div class='row'>
                      <div class="col-sm-12 commenttext">
                        {{{this.commenttext}}}
                      </div>
                    </div>
                  </div>
                </div>
              {{/each}}
            {{else}}
              <div class='row commentrow'>
                <div class="col-sm-9 commentheadline">
                  No comments yet!
                </div>
              </div> 
            {{/if}}
          </div>
        </div>


          {{!-- Post New Comments --}}
          <div class="row">
            <div class="panel-body">
              <div class="panel-heading">
                <h3>Add A New Comment</h3>
              </div>
              <div class="panel-body">
                <form enctype="form-data" action="postblogcomment/{{dynamicData.id}}" onsubmit="return validateCommentForm()" method="POST">
                  <div class="row">
                    {{!-- <div class="col-sm-2">
                      <p>Name:</p>
                    </div> --}}
                    <div class="col-sm-8">
                      <input type="text" id="BlogCommentName" name="BlogCommentName" placeholder="John Smith"/> 
                    </div>
                  </div>

                  <div class="row">
                    {{!-- <div class="col-sm-2">
                      <p>Headline:</p>
                    </div> --}}
                    <div class="col-sm-8">
                      <input type="text" id="BlogCommentHeadline" name="BlogCommentHeadline" placeholder="Comment Headline"/> 
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-10">
                      <textarea rows="4" cols="50" id="BlogCommentText" name="BlogCommentText" maxlength="250"></textarea> 
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-10">
                      <button type="submit" id="update" onsubmit="return validateCommentForm()">Submit</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="connect">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h5>Connect with Me</h5>
          </div>
          <div class="panel-body">
            <div class="row">

              <div id="github" class="col-xs-4 socialMenu">
                <a href="https://github.com/Tomcariello" target="_blank"><img class="socialButtons" src="public\images\github.png" alt="github"></a>
              </div>
              <div id="linkedin" class="col-xs-4 socialMenu">
                <a href="http://www.linkedin.com/in/tom-cariello" target="_blank"><img class="socialButtons" src="public\images\linkedin.png" alt="Linkedin"></a>
              </div>
              <div id="resume" class="col-xs-4 socialMenu">
                <a href="https://drive.google.com/open?id=1ndua-vF5tXVHote5v0WAwMv2IiARfDJo" target="_blank"><img class="socialButtons" src="public\images\resume.jpg" alt="Resume"></a>
              </div>
            </div>
          </div>
        </div>    
      </div>
    </div>
  </div>

  <script>
    //Process on comment form submission
    function validateCommentForm() {
      
      //Check that there is a name
      if ( $('#BlogCommentName').val() == "" ) {
        $('#BlogCommentName').addClass('error');
        return false;
      } else {
        $('#BlogCommentName').removeClass('error');
      }

      //Check that there is a headline
      if ( $('#BlogCommentHeadline').val() == "" ) {
        $('#BlogCommentHeadline').addClass('error');
        return false;
      } else {
        $('#BlogCommentHeadline').removeClass('error');
      }

      //Check that there is a message
      if ( $('#BlogCommentText').val() == "" ) {
        $('#BlogCommentText').addClass('error');
        return false;
      } else {
        $('#BlogCommentText').removeClass('error');
      }
      
      return true;
    }
  </script>
</section>