<section class="main">
  <div class='row'>
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>{{{dynamicData.blogTitle}}} Comments</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-2">
              <h3>Date</h3>
            </div>
            <div class="col-xs-2">
              <h3>Name</h3>
            </div>
            <div class="col-xs-2">
              <h3>Headline</h3>
            </div>
            <div class="col-xs-5">
              <h3>Comment</h3>
            </div>
          </div>
        </div>
        {{#each dynamicData}}
          <hr>
          <div class="row">
            <div class="col-xs-1 deleteColumn center">
              <a href="deletecomment/{{this.id}}?blogid={{this.blogid}}">
                <i class="fa fa-times-circle fa-2x" aria-hidden="true" title="Delete Comment"></i>
              </a>
            </div>
            <div class="col-xs-2">
              {{formatdate this.createdAt}}
            </div>            
            <div class="col-xs-2">
              {{this.commentauthor}}
            </div>
            <div class="col-xs-2">
              {{this.commentheadline }}
            </div>
            <div class="col-xs-5">
              {{this.commenttext}}
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</section>