<div id="portfolio-container">
  <div id="quickAccess" class="row">
    {{!-- Write the top of the page navigation elements--}}
    {{#each dynamicData}}
    <div class="col-sm-2 col-xs-3 qap-nav" id="{{this.id}}">
      <div class="row project-img">
        <div class="col-xs-12 project-img">
          <img class="port-nav-image" src="{{this.ProjectIMG}}" alt="{{this.ProjectName}}">
          </div>
      </div>
      <div class="row project-name">
        {{this.ProjectName}}
      </div>
    </div>
    {{/each}}
  </div>




  <section class="mainportfolio">
    <div class='row portfolio-section placeholder' id="main-999">
      <div class="col-xs-12">
        <div class="row">
          <div class="col-md-12 col-sm-12" id="placeholder-div">
            Click on a project above for more information.
          </div>
        </div>
      </div>
    </div>
    {{#each dynamicData}}
    <div class='row portfolio-section' id="main-{{this.id}}">
      <div class="col-xs-12">
        <div class="row port-info-container">
          <div class="col-md-5 col-sm-12 projectImage">
            <a target="new" href="{{this.ProjectURL}}">
              <img class="portfolio-image" src="{{this.ProjectIMG}}" alt="{{this.ProjectName}}">
            </a>
          </div>
          <div class="col-md-7 col-sm-12">
            <p class='projecttitle'>
              <a target="new" href="{{this.ProjectURL}}">{{this.ProjectName}}</a>
            </p>
            <p class="projectinfo">{{{decodeSummernote this.ProjectBlurb}}}</p>
            <p class="githubLink"><a href="{{this.GithubURL}}" target="new">View on Github</a></p>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
    <div id="socialMediaContainer">
      <div id="socialMediaParent" class="fas fa-user-circle btn-lg"></div>
      <div id="socialMediaLinks">
        <div class="socialMediaChild">
          <a href="https://github.com/Tomcariello" target="_blank">
            <img class="socialButtons socialCollapse" src="public\images\github.png" alt="github">
          </a>
        </div>
        <div class="socialMediaChild">
          <a href="https://www.linkedin.com/in/tom-cariello" target="_blank">
            <img class="socialButtons socialCollapse" src="public\images\linkedin.png" alt="Linkedin">
          </a>
        </div>
        <div class="socialMediaChild">
          <a href="https://drive.google.com/open?id=1ndua-vF5tXVHote5v0WAwMv2IiARfDJo" target="_blank">
            <img class="socialButtons socialCollapse" src="public\images\resume.jpg" alt="Resume">
          </a>
        </div>
      </div>
    </div>

  </section>

</div>