<div class="container">
  <div class="row">
    <div class="col-md-6">
      {{#if puzzle.image_box_front}}
        <img src="{{puzzle.image_box_front}}" class="img-responsive img-thumbnail" alt="Box Art">
      {{else}}
        <div class="no-image-placeholder-large">
          <i class="fas fa-puzzle-piece fa-5x"></i>
          <h3>{{puzzle.puzzle_id}}</h3>
        </div>
      {{/if}}
      
      {{#if dynamicData.administrator}}
        <div class="well" style="margin-top: 20px;">
          <h4>Admin: Update Image</h4>
          <input type="file" name="puzzle_image" class="form-control">
        </div>
      {{/if}}
    </div>

    <div class="col-md-6">
      <form action="/puzzles/update/{{puzzle.id}}" method="POST">
        <h2>
          {{#if dynamicData.administrator}}
            <input type="text" name="puzzle_name" class="form-control input-lg" value="{{puzzle.puzzle_name}}">
          {{else}}
            {{puzzle.puzzle_name}}
          {{/if}}
        </h2>

        <table class="table table-striped">
          <tr>
            <td><strong>PZL ID:</strong></td>
            <td>
              {{#if dynamicData.administrator}}
                <input type="text" name="puzzle_id" class="form-control" value="{{puzzle.puzzle_id}}">
              {{else}}
                {{puzzle.puzzle_id}}
              {{/if}}
            </td>
          </tr>
          <tr>
            <td><strong>Year:</strong></td>
            <td>
              {{#if dynamicData.administrator}}
                <input type="number" name="year" class="form-control" value="{{puzzle.year}}">
              {{else}}
                {{puzzle.year}}
              {{/if}}
            </td>
          </tr>
          <tr>
            <td><strong>Availability Index:</strong></td>
            <td>
              <span class="label label-info">{{puzzle.availability_index}}</span>
              <small class="text-muted"> (Based on {{puzzle.total_checks}} checks)</small>
            </td>
          </tr>
        </table>

        {{#if dynamicData.administrator}}
          <button type="submit" class="btn btn-success btn-block">Save Changes</button>
          <hr>
          <button type="button" id="triggerPulse" class="btn btn-primary btn-block">
            <i class="fab fa-ebay"></i> Force eBay Pulse
          </button>
        {{/if}}
      </form>
    </div>
  </div>
</div>